.main_banner_box {
    max-width: 1200px;
    max-height: 500px;
    height: 40vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.main_banner {
    width: 100%;
    height: 100%;
    position: relative;
}
.banner {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 100%;
}
.banner0 {
    /* left: 0; */
    background: url(../unbanskin/mainbanner1.jpg) no-repeat center / cover;
}
.banner1 {
    background: url(../unbanskin/mainbanner2.jpg) no-repeat center / cover;
}
.banner2 {
    background: url(../unbanskin/mainbanner3.jpg) no-repeat center / cover;
}
.btn_slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 3px 3px 10px 0 gray;
    border-radius: 50%;
    font-size: 30px;
}
.btn_slide_L { opacity: 0;}
.btn_slide_R { opacity: 1;}

/* 인디케이터 */
.indi {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;

}
.circle {
    width: 30px;
    height: 5px;
    border-radius: 20px;
    background: #fff;
}
.circle_active {
    background: #7f7c7c;
}
.box {
    width: 60px;
    height: 60px;
    border: 5px solid #f7b7b7;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.main_box_img {
    width: 100%;
    height: 400px;
    background: #fbe4db;
    margin: 100px auto;
    background: url(../img/bestitem.jpg) no-repeat center / cover;
    position: relative;
    margin-bottom: 50px;
    z-index: -999;
}
.main_box1 {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: 'omyu_pretty';
    font-size: 22px;
}
.main_box_item {
    background: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 22px;
}
.best_content_box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.content_box1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    transition: all 1s;
}
.content {
    width: calc((100% - 20px*3) / 4);
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/1.35;
}
/* 찜한상품 부분 수정 필요 */
.content:hover > .like {
    display: block;
}
.like {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    z-index: 999;
    width: 20px;
    height: 20px;
}
.like img {
    width: 100%;
    height: 100%;
}
.heart {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.like:hover .heart {
    display: block;
}
.like:hover > img {
    display: none;
}
.content:hover .content_img {
    transform: scale(1.2);
    transition: all 0.5s;
}
.content_img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.c_img_txt_box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255 255 255 / 50%);
    padding: 30px;
    box-sizing: border-box;
    opacity: 0;
    font-family: 'omyu_pretty';
}
.content:hover > .c_img_txt_box {
    opacity: 1;
}
.best_txt1 {
    padding: 100px 0 20px;
    font-weight: 900;
}
.best_txt2 {
    float: left;
    margin-right: 15px;
    color: #f36e6e;
}
.best_txt3 {
    text-decoration: line-through;
    color: #555555;
}
.best_txt4 {
    font-weight: 900;
    padding: 10px 0;
    font-size: 20px;
}
.new_txt_title {
    width: 100%;
    height: 150px;
    background-color: #ede6e4;
    margin: 0 auto;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    color: gray;
    margin-top: 100px;
}
.new_content_box {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.content_box2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    transition: all 1s;
}
.new_content {
    width: calc(100% / 4);
    padding: 10px;
    box-sizing: border-box;
    aspect-ratio: 1/1.35;
    font-family: 'omyu_pretty';
}
.new_content_img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}
.new1, .new2 {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
.new2 {
    opacity: 0;
}
.new_content_img:hover .new2 {
    opacity: 1;
}
.new_content img {
    width: 100%;
}

.new_txt1 {
    font-weight: 900;
    padding: 10px 0;

}
.new_price_box {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}
.new_final_price {
    font-size: 20px;
}
.new_price {
    text-decoration: line-through;
    color: gray;
}
.new_sale_p {
    color: #f36e6e;
    font-weight: 700;
}
.new_more {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 30px auto;
    border-radius: 20px;
    background: #d6bdb3;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.review {
    width: 100%;
    height: 500px;
    margin-top: 300px;
    background: url(../img/background_review.jpeg) no-repeat fixed center / cover;
}
.r_box {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.review_L {
    color: gray;
    padding: 100px 0;
    box-sizing: border-box;
    float: left;
    transition: all 1s;
}
.review_main_txt {
    font-size: 40px;
}
.review_R {
    width: 600px;
    height: 100%;
    float: left;
    transition: all 1s;
    overflow: hidden;
    position: relative;
    transform: translate(10%, 30%);
    left: 20%;
}
.best_review {
    height: 300px;
    width: 300px;
}
.review1 {
    top: 10%;
    left: 0;
    z-index: 999;
    transition: all 1s;
    transition-delay: 0.3s;
    float: left;
}
.review2 {
    top: 15%;
    right: 5%;
    transition: all 1s;
    transition-delay: 0.6s;
    float: left;
}
.review_img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transform: rotateY(0);
    transition: all 1s, opacity 0.5s;

    backface-visibility: hidden;

    position: absolute;
    left: 0;
    top: 0;
}
.review_img1 {
    background: url(../img/best_review1.jpeg) no-repeat center / contain;
    width: 280px;
}
.review_img2 {
    background: url(../img/best_review2.jpeg) no-repeat center / contain;
    left: 300px;
}
.review_txt_box1, .review_txt_box2 {
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    transform: rotateY(180deg);
    transition: all 1s, opacity 0.5s;
    padding: 30px;
    box-sizing: border-box;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    color: gray;
}
.review_txt_box2 {
    left: 300px;
}
.review1:hover .review_img1  {
    transform: rotateY(180deg);
    opacity: 1;
}
.review1:hover .review_txt_box1  {
    transform: rotateY(0);
    opacity: 1;
}
.review2:hover .review_img2  {
    transform: rotateY(180deg);
    opacity: 1;
}
.review2:hover .review_txt_box2  {
    transform: rotateY(0);
    opacity: 1;
}

.review_txt1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0;
}
.review_txt2 {
    color: gray;
}

.brand {
    width: 100%;
    height: 500px;
    margin-top: 400px;
    background: url(../img/brand_story.png) no-repeat fixed center / cover;
    position: relative;
}
.brand_txt {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    color: #fff;
    transform: translateY(-50%);
}
.brand_txt p:nth-child(1) {
    font-size: 30px;
}
.insta_box {
    padding-bottom: 100px;
    background: #f6f6f6;
}
.instagram_box {
    width: 100%;
    height: 448px;
    background: url(../img/instagram.jpg) no-repeat center / contain #f6f6f6;
}
.instagram_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
}
.instagram_icon img {
    width: 100%;
}
.insta_txt {
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    margin: 100px auto 0;
    background: #f6f6f6;
}
.insta_img {
    width: 1500px;
    margin: 0 auto;
}

@media screen and (max-width:960px) {
    .review_L p {
        font-size: 11px;
    }
    .content {
        width: calc((100% - 20px*2) / 3);
    }
    .new_content {
        width: calc(100% / 3);
    }
    .new_txt1 {
        font-size: 14px;
    }
    .new_final_price {
        font-size: 18px;
    }
    .new_price {
        font-size: 13px;
    }
    .new_sale_p {
        font-size: 15px;
    }
    .main_box_img {
        height: 300px;
    }
    .r_box {
        max-width: 960px;
    }
    .review {
        height: 300px;
    }
    .review_R {
        width: 450px;
    }
    .best_review {
        height: 200px;
        width: 200px;
    }
    .review_img {
        width: 200px;
        height: 200px;
    }
    .review_txt_box1, .review_txt_box2 {
        width: 200px;
        height: 200px;
        padding: 20px;
    }
    .review_img2 {
        left: 200px;
    }
    .review_txt_box2 {
        left: 220px;
    }
    


    .instagram_icon {
        left: 42%;
    }
}
@media screen and (max-width:768px) {
    .main_box1 { bottom: 30px;}
    .main_box_img {
        height: 200px;
    }
    .main_box_item {
        padding: 5px 20px;
        font-size: 12px;
    }
    .content {
        width: calc((100% - 20px) / 2);
    }
    .new_content {
        width: calc(100% / 2);
    }
    .review {
        height: 300px;
    }
    .best_review {
        height: 150px;
        width: 150px;
    }
    .review_img {
        width: 150px;
        height: 150px;
    }
    .review_txt_box1, .review_txt_box2 {
        width: 150px;
        height: 150px;
        padding: 20px;
    }
    .review_img2 {
        left: 150px;
    }
    .review_txt_box2 {
        left: 170px;
    }
    .review_R {
        width: 320px;
    }

    .instagram_icon { left: 40%;}
    .f_box1 p:nth-child(2) {
        font-size: 16px;
    }
    .f_box p {
        font-size: 10px;
    }
    .brand { height: 280px;}
    .instagram_box {height: 200px;}
    .review_main_txt {
        font-size: 25px;
    }
    
}



@media screen and (min-width: 280px) and (max-width: 480px) {
    .box { display: none; }
    .main_box_img {
        margin: 30px auto;
        height: 100px;
    }
    .main_box1 {
        bottom: 10px;
        gap: 10px;
    }
    .main_box_item {
        padding: 3px 10px;
        font-size: 10px;
    }
    .c_img_txt_box {
        opacity: 1;
        padding: 10px;
        height: 30%;
        top: 100%;
        transform: translateY(-100%);
    }
    .content_box1 {
        transform: 'translateY(0)';
        opacity: 1;
    }
    .best_txt1 {
        padding: 0;
        font-size: 0.8em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .best_txt2 {
        font-size: 0.7em;
        font-weight: 900;
    }
    .best_txt3 {
        font-size: 0.7em;
    }
    .best_txt4 {
        padding: 5px 0;
        font-size: 0.9em;
    }


    .new_content_img {
        height: 50vw;
    }
    .new_price_box {
        gap: 5px;
    }
    .new_final_price {
        font-size: 0.8em;
    }
    .new_price {
        font-size: 0.6em;
    }
    .new_sale_p {
        font-size: 0.7em;
    }
    .review {
        background: url(../img/background_review.jpeg) no-repeat center / cover;
        margin-top: 150px;
    }
    .review_main_txt {
        font-size: 20px;
    }
    .review_L p {
        font-size: 10px;
    }
    .review_L {
        margin: 0px 40px;
        padding: 30px 0 0;
    }
    .review_R {
        transform: translate(0%, 10%);
        height: 150px;
        left: 10%;
        float: none;
    }
    .brand {
        margin-top: 100px;
    }
    .instagram_icon {
        left: 35%;
    }
}